.DS_Store
Thumbs.db
*.log
*.tmp

.idea/
*.iml
*.ipr
*.iws
xcuserdata

/out/
/captures/
.artifacts
/build/
build/
**/build/
!src/**/build/
.externalNativeBuild
.cxx

local.properties
.gradle/
.gradle/config.properties
.kotlin/
node_modules/

*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
