# Системные файлы и временные файлы ОС
.DS_Store
Thumbs.db
*.log
*.tmp

# Файлы настроек IDE (Android Studio)
.idea/
*.iml
*.ipr
*.iws
/out/
/captures/
.artifacts

# Локальные конфигурации (содержат пути к SDK и приватные ключи)
/local.properties
.gradle/config.properties

# Кэш сборщика Gradle и компилятора Kotlin
.gradle/
.kotlin/

# Результаты компиляции и сборки (Build Artifacts)
build/
**/build/
/build/

# Специфичные папки нативной сборки (C/C++)
.externalNativeBuild/
.cxx/
/ndkBuild/
/tmp

# Релизы и пакеты
*.apk
*.aar
*.jar